body{
    border-width: 250px;
    background:linear-gradient(135deg,#5858c4,#8c7b7b);
    background-image: url(../../IMAGES/d0f39797387389.5f3afd5b43b93.gif);
}
h1{
    color: #00ff04;
    text-align: center;
    top: 200px;
}
nav{
    text-align: center;

}
a{
    color: #f7f7f7;
}
.hero{
    text-align: center;
    color: #ebff37;
}
p{
    text-align: center;
    color: rgb(214, 5, 5);
}
.a{
    color: orangered;
}
.b{
    color: #e0009d;
}